/* --------------------- *\
        GENERALES
\* --------------------- */

.text-next {
    color: #97c93e !important;
}

.btn-next {
    background-color: #97c93c;
}
.btn-next:hover {
    background-color: #82ad36;
}


.navbar-brand {
    color: white;
    
}
/* --------------------- *\
        ENCABEZADO
\* --------------------- */




.nextb-logo img {
    width: 40px;
    margin: auto;
    margin-right: 20px;
   }

/*.nextb-logo {
    width: 19px;
    height: 19px;
    transform: rotate(45deg);
    align-self: center;
}

    .logo-top {
        width: 80%;
        height: 60%;
   
        position: relative;
        top: 1px;
    }
    
    .logo-bottom {
        width: 100%;
        height: 40%;
    }

*/

/* --------------------- *\
           HERO
\* --------------------- */

#main .carousel-inner img {
    max-height:70vh ;
    object-fit: cover;
    filter: grayscale(90%);
}

#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0, 0, 0);
    color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}


/*#hero-carousel img {
    height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}

.capa-hero {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.capa-hero .container,
.container .row {
    height: 50%;
} */

/* --------------------- *\
      CARRERA
\* --------------------- */

#seccion-carrera {
    color: white;
    background-color: #030303;
}

#seccion-carrera img {
    width: 100%;
   
    object-fit: cover;
}

/* --------------------- *\
      PIE DE PAGINA
\* --------------------- */

#footer {
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

#footer a {
    color: white;
}

.navbar .navbar-brand {
    display: flex;
}


#seccion-quienes-somos{
    align-content: space-between;
}